<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Joriy loyihalar | Uzbekgidroenergo 1-Direksiya</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="UzbekGidroEnergo 1-direksiya loyiha offisi sayti"
      name="keywords"
    />
    <meta
      content="UzbekGidroEnergo 1-direksiya loyiha offisi sayti"
      name="description"
    />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
      rel="stylesheet"
    />
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="lib/slick/slick.css" rel="stylesheet" />
    <link href="lib/slick/slick-theme.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <!-- Top Bar Start -->
      <div class="top-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
              <div class="logo">
                <a href="/">
                  <h2 class="text-light">1-Son Qurilish Direksiya</h2>
                  <!-- <img src="img/logo.jpg" alt="Logo"> -->
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
              <div class="row">
                <div class="col-4">
                  <div class="top-bar-item">
                    <div class="top-bar-icon">
                      <i class="flaticon-calendar"></i>
                    </div>
                    <div class="top-bar-text">
                      <h3 class="text-light">Ish vaqti</h3>
                      <p class="text-light">Dush - Jum, 8:00 - 18:00</p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="top-bar-item">
                    <div class="top-bar-icon">
                      <i class="flaticon-call"></i>
                    </div>
                    <div class="top-bar-text">
                      <h3 class="text-light">Bizning telefon</h3>
                      <a class="telephone text-light" href="tel:+998712413963"
                        >+998 (71) 241-39-63</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="top-bar-item">
                    <div class="top-bar-icon">
                      <i class="flaticon-send-mail"></i>
                    </div>
                    <div class="top-bar-text">
                      <h3 class="text-light">Bizning email</h3>
                      <a class="telephone text-light" href="mailto:upds@exat.uz"
                        >upds@exat.uz</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Bar End -->

      <!-- Nav Bar Start -->
      <div class="nav-bar">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" style="color: #1f618d !important" class="navbar-brand"
              >MENYU</a
            >
            <button
              type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbarCollapse"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="#1f618d"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>

            <div
              class="collapse navbar-collapse justify-content-between"
              id="navbarCollapse"
            >
              <div class="navbar-nav mr-auto">
                <a href="/" class="nav-item nav-link">Bosh sahifa</a>
                <div class="dropdown">
                  <a
                    class="nav-item nav-link dropdown-toggle"
                    id="dropdownMenuButton"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Korxona to'g'risida
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <li>
                      <a class="dropdown-item" href="/lidership">Rahbariyat</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/post">Yuridik maqomi</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/news">Yangiliklar</a>
                    </li>
                  </ul>
                </div>
                <a href="/projects/current" class="nav-item nav-link"
                  >Joriy loyihalar</a
                >
                <a href="/projects/promising" class="nav-item nav-link"
                  >Istiqbolli loyihalar</a
                >
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- Nav Bar End -->

      <!-- Projects Start -->
      <div class="service">
        <div class="container">
          <div class="section-header text-center">
            <h2>Joriy loyihalar</h2>
          </div>
          <div class="row">
            <% projects.forEach(project => { %>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="card">
                <img src="<%= project.imgUrl %>" alt="<%= project.name %>" />
                <div class="card-body">
                  <!-- <p class="fs-6 text-secondary mb-2">
                      <i class="far fa-calendar"></i>
                    </p> -->
                  <h5 class="card-title"><%= project.name %></h5>
                  <hr />
                  <a
                    href="/projects/view/<%= project.id %>"
                    class="text-primary"
                    >batafsil</a
                  >
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <!-- Projects End -->

      <!-- Useful links start -->
      <div class="slider-wrapper">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <a href="https://lex.uz/uz/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/lex.uz.png61c1d23b21512.png"
                  height="100"
                  width="191"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://www.minjust.uz/ru/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/logo-new.png61c1b94fa0ddf.png"
                  height="100"
                  width="90"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://it-park.uz/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/QU2AG715592005873613_b.jpg61c1d36cb1dd2.jpg"
                  height="100"
                  width="96"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://soliq.uz/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/logo-ss.png61c1b9868ba27.png"
                  height="100"
                  width="100"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://murojaat.gov.uz/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/murojaat.svg6327f9f0db5bc.svg"
                  height="100"
                  width="191"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://data.egov.uz/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/logo-1.png61c1b8eb171db.png"
                  height="100"
                  width="101"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://my.gov.uz/oz" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/logo%20(1).png61c1d163e24f8.png"
                  height="100"
                  width="100"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://meningfikrim.uz/uz" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/logo-mf.png61c1d21561aaf.png"
                  height="100"
                  width="191"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://gov.uz/uz" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/gerb.png"
                  height="100"
                  width="100"
                  alt=""
                />
              </a>
            </div>
            <div class="slide">
              <a href="https://parliament.gov.uz/ru/" target="_blank">
                <img
                  src="https://uzgidro.uz/images/useful%20links/logo_small.png61c1b9202fda4.png"
                  height="100"
                  width="176"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Useful links end -->

      <!-- Footer Start -->
      <div class="wow fadeIn" data-wow-delay="0.3s">
        <div class="footer">
          <div class="row">
            <div class="col-lg-5 p-3">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1056.8032616055732!2d69.25636967880641!3d41.32126676091281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b1333b5a31b%3A0xbc26df4e9a49baf!2sAo%20%22Uzbekgidroenergo%22!5e0!3m2!1sen!2s!4v1665174036856!5m2!1sen!2s"
                style="border: 0"
                allowfullscreen="true"
                loading="lazy"
                class="h-100 w-100"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="col-lg-7 p-3">
              <form>
                <div class="row">
                  <div class="col-md-9">
                    <div class="row mb-4">
                      <div class="col-md-6 mb-4 mb-md-0">
                        <div class="form-outline">
                          <input
                            type="text"
                            id="form3Example1"
                            class="form-control border"
                          />
                          <label class="form-label" for="form3Example1"
                            >First name</label
                          >
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-outline">
                          <input
                            type="email"
                            id="form3Example2"
                            class="form-control border"
                          />
                          <label class="form-label" for="form3Example2"
                            >Email Address</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        id="form3Example3"
                        class="form-control border"
                      />
                      <label class="form-label" for="form3Example3"
                        >Subject</label
                      >
                    </div>
                    <div class="form-outline mb-4">
                      <textarea
                        class="form-control border"
                        id="form4Example3"
                        rows="4"
                      ></textarea>
                      <label class="form-label" for="form4Example3"
                        >Message</label
                      >
                    </div>
                    <div class="text-center text-md-start">
                      <button
                        type="button"
                        class="btn btn-primary mb-5 mb-md-0"
                      >
                        Send
                      </button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <ul class="list-unstyled">
                      <li class="d-flex flex-column align-items-center">
                        <i class="fas fa-map-marker-alt fa-2x text-primary"></i>
                        <p class="text-center">
                          <small>New York, NY 10012, USA</small>
                        </p>
                      </li>
                      <li class="d-flex flex-column align-items-center">
                        <i class="fas fa-phone fa-2x text-primary"></i>
                        <p class="text-center">
                          <small>+ 01 234 567 89</small>
                        </p>
                      </li>
                      <li class="d-flex flex-column align-items-center">
                        <i class="fas fa-envelope fa-2x text-primary"></i>
                        <p class="text-center">
                          <small>contact@gmail.com</small>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr />
          <footer class="bg-light text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #3b5998"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #55acee"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #dd4b39"
                  href="#!"
                  role="button"
                  ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #ac2bac"
                  href="#!"
                  role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: #1f618d">
              © 2022 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                >MDBootstrap.com</a
              >
            </div>
            <!-- Copyright -->
          </footer>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      </div>
      <!-- Footer End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/slick/slick.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
