body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.new-input[type="file"] {
  display: none;
}

.new-img {
  width: 140px;
}

.wrapper {
  width: 100%;
}

.new-form,
.user-form {
  margin: 50px;
}

.new-imgs {
  width: 60px;
}

.admin .modal-header {
  display: block;
}

.project-form {
  margin: 50px;
}

.admin {
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#editor {
  border: none;
}

.ql-toolbar.ql-snow {
  border: none;
}

.table-title {
  width: 80%;
  word-break: break-all;
}
